<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    {{#each htmlWebpackPlugin.options.apps as |app|}}
    <a href="{{app.outPath}}">{{app.name}}</a><br/>
    {{/each}}
</body>

</html>
